// scss-docs-start gray-color-variables
$gray-100: #f8f9fa;
$gray-600: #6c757d;
$gray-900: #212529;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$c-primary: #BE9A78FF;
$c-secondary: #1085f2;
$red: #cc0a1e;
$yellow: #e6ff07;
$green: #5fc01e;
$cyan: #3bdeff;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary: $c-primary;
$secondary: $c-secondary;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
// scss-docs-end theme-color-variables

// Square radius
$border-radius: 0;

// Create your own map
$custom-colors: (
  "custom-color": rgb(203, 17, 209)
);
$font-size-sm: 10px;

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family: 'Lora', serif;


// breackpoints
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-x-desktop: 1200px;
$width-xx-desktop: 1400px;
// $width-xxx-desktop: 2560px;

// $container-max-widths: ( 
//   xxl: 1380px
// );

// ex
// @media (min-width: $width-tablet) {}
// @media (min-width: $width-desktop) {}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 860px,
  xl: 1170px,
  xxl: 1370px
);

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  // Add two classes: spacing and spacing-lg for defining some custom spacing
  spacing-sm: 30px,
  spacing: 50px,
  spacing-lg: 75px,
);

// spacing: 55px;
// spacing-lg: 75px;