.btn{
  height: 45px;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-top: 10px;
}

.btn-primary{
    color: $white;
   
}
.btn-outline-primary{
  border: 2px solid $primary;
}
.btn-outline-primary:hover{
    color: $white;
   
}