ul,
li,
div,
span,
article,
section,
nav,
form {
    @include outline;
    list-style: none;
    padding: 0;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: bottom;
}
