.post {
    &__text {
        color: $gray-600;
        font-weight: 400;
        line-height: 1.6;

    }

    .paragraph {
        &__title {
            margin-bottom: 20px;
            font-weight: 400;
        }

        &__text {
            color: $gray-600;
            font-weight: 400;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        &__img {
            height: 250px;
        }
    }

    .guests {
        padding-bottom: 45px;

        &__title {
            margin-bottom: 20px;
            font-weight: 400;
        }

        &__text {
            color: $gray-600;
            font-weight: 400;
            line-height: 1.6;
        }
    }

    .tags {
        padding-bottom: 60px;
        margin-bottom: 50px;

        &__title {
            margin-right: 30px;
            font-weight: 400
        }

        &__item {
            color: $gray-600;
            border: 1px solid $gray-200;
            padding: 5px;
            margin: 10px;
        }
    }

    .comments {
        margin-bottom: 65px;

        &__title {
            margin-bottom: 40px;
        }

        .c-person {
            margin-bottom: 30px;
        }

        &__text {
            margin-bottom: 30px;
            line-height: 1.6;
            color: $gray-600;
        }

        &__btn {
            height: max-content;
            width: max-content;
            font-size: 12px;
            padding: 4px 7px;
            margin-bottom: 35px;
        }
    }

    .form {
        &__title {
            margin-bottom: 40px;
        }

        .form-label {
            color: $gray-600;
        }

        .form-control {
            background-color: $gray-100;
        }
    }

    .calendar {
        // height: 295px;
        margin-bottom: 40px;
        padding: 20px;

        &__title {
            background-color: black;
            color: $white;
            padding: 20px;
            font-weight: 400;
            font-size: 22px;
        }

        &__body {
            font-family: sans-serif;
            // padding: 20px;
            background-color: $dark;

        }

        .col {
            padding: 0;
        }


        &__week {
            text-transform: uppercase;
            padding: 20px;
            font-weight: 600;
            font-size: 14px;
            color: $gray-600;
        }

        &__day {
            display: flex;
            justify-content: center;
        }

        &__date:hover {
            padding: 0 5px;
            background-color: $primary;


        }   

        &__date {
            display: flex;
            justify-content: center;
            margin: 0 4px;

        }

        &__date-bg {
            background-color: $primary;
            padding: 0 4px;
        }

        &__list {
            padding: 7px 20px;
            font-size: 14px;
            color: $white;

        }
    }

    .tags-cloud {
        margin-bottom: 35px;

        &__title {
            margin-bottom: 20px;
        }

        &__item {
            font-size: 14px;
            color: $gray-600;
            padding: 5px;
            margin: 10px;
            border: 1px solid $gray-200;
        }

    }

    .best-room {
        margin-bottom: 40px;

        &__title {
            margin-bottom: 35px;
        }
    }

    .search {
        max-width: 220px;
        margin-bottom: 50px;

        &__title {
            margin-bottom: 30px;
        }

        &__input {
            background-color: $gray-100;
            border: 1px solid $gray-200;
        }


    }

    .categories {
        margin-bottom: 50px;

        &__title {
            margin-bottom: 35px;
        }
    }

    .our-branches {
        margin-bottom: 40px;

        &__title {
            margin-bottom: 35px;
        }

        .card {
            border: none;
        }
    }

    .our-offices {
        color: $gray-500;

        &__title {
            margin-bottom: 35px;
        }

        &__wrapper {
            margin-bottom: 30px;
        }

    }
}