.description{
    margin-bottom: 60px;
    .description-img{
        height: 260px;
        margin-bottom: 30px;
    }
    
    .description-element{
        margin-bottom: 30px;
    }

    .description-item{
        height: 30px;
    }
    .description-text{
        height: 155px;
        padding: 30px 0;
    }
    .description-service{
        padding: 30px 0;
    }
}