.reservation {
    margin-bottom: 40px;
    height: 370px;
    background-color:  rgb(185, 183, 183);
    padding: 20px;

    &__long{
        height: 70px;
    }
    &__inner{
        height: 160px;
    }
   
    &__btn a{
        width: auto;
        color: white;
        font-size: 12px;
        font-weight: 600;
    }
}