.reviews {
    padding: 42px 0;

    .c-title {
        margin-bottom: 40px;
    }

    .c-person {
        margin-bottom: 20px;
    }

    &__wrapper {
        margin-bottom: 25px;
    }

    &__text {
        color: $gray-600;
        font-size: 12px
    }

    &__btn {
        color: $gray-600;
        border: none;
        border-left: 0;
    }
    .reviews-ratings{
        height: 265px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




}