.reviews {
    padding-top: 40px;
    padding-bottom: 60px;

    .c-title {
        margin-bottom: 40px;
    }

    .c-person {
        margin-bottom: 30px;

        .person-img {
            margin: 0;
        }
    }

    &__wrapper {
        margin-bottom: 30px;
        padding-bottom: 35px;
    }

    &__text {
        color: $gray-600;
        font-size: 16px
    }

    &__btn {
        color: $gray-600;
        border: none;
        border-left: 0;
        font-size: 14px;
        padding: 0;
        width: max-content;
        height: max-content;
    }

    .reviews-ratings {
        background-color: $gray-400;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .review-progres{
        padding: 25px 20px 25px 20px;
    }
}