.reviews {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #1B1B1BFF;

    .card {
        background-color: #F1F1F1FF;
        border-radius: 0;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;

        .card-header {
            background-color: transparent;
        }

        .card-img {
            height: 55px;
            width: 55px;
            padding: 5px;
            border: 1px dashed $primary;
            border-radius: 0;
        }

        .card-quote {
            color: $gray-400;
            font-size: 75px;
            right: 14px;
            bottom: 0;
        }
        img{
            object-position: top;
        }
    }
}