.c-card-family-rooms {
    .card {
        background-color: $black;
        border: none;
        .card-img-top{
            height: 170px;
            opacity: 0.8;
        }
        .card-inner{
            bottom: 25px;
            font-size: 9px;
            color: $white
        }
        p{
            color: $gray-600;
        }
    }
}