.c-card-family-rooms {
    .card {
        // background-color: $black;
        border: none;

        .card-img-top {
            height: 415px;
            filter: brightness(0.6);
        }

        .card-inner {
            bottom: 60px;
            font-size: 9px;
            color: $white
        }

        p {
            color: $gray-600;
        }
    }
}