.c-categories {
    margin-bottom: 20px;
    
    a{
        color: $gray-600;
        text-decoration: none;
        &:hover{
            text-shadow: $gray-900;
        }
    }

    .categories-icon {
        font-size: 14px;
        // margin-top: 2px;
    }
}