.c-little-card{
    .card{
        
        .img-fluid{
            height: 100px;
            width: 100px;
        }
        .card-name{
            font-size: 16px;
            color: $gray-600;
        }
        .badge{
            font-size: 10px;
            padding: 5px;
            width: max-content;
            text-decoration: none;
        }
        
    }
}