.c-pagination {
    display: flex;

    .pagination-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 40px;
        margin-right: 20px;
        padding: 0;
        border: none;
        
    }

    .pagination-btn:hover {
        background-color: $primary;
    }
}