.c-reviews{
    display: flex;
    .btn{
        padding: 0;
        height: 35px;
        width: 40px;
        margin-right: 15px;
        border: none;
    }
    .btn:hover,:focus{
        background-color: $primary;
    }
}