.c-stars {
    align-items: center;


    input[type="radio"]:checked::before {
        transform: scale(1);

  
    }
    .form-check-icon,
     .card-svg {
        height: 18px;
        width: 18px;
        color: $gray-600;
    }
}