.c-title-center{
    h6::before{
        position: absolute;
        content: "";
        height: 1px;
        width: 20px;
        bottom: -10px;
        background-color: $black;
        transform: translateX(-50%);
        left: 50%;

    }
}