.banner-search {
    position: relative;
    height: 380px;
    background-image: url("/public/img/david-emrich-odII8BzuWU8-unsplash.jpg");
    background-position: center;

    .banner-nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 140px;
        background-color: $black;
    }

    .dropdown-toggle {
        color: $gray-600;
        font-size: 12px;
    }

    .dropdown-menu {
        background-color: $black;
    }

    .dropdown-item {
        color: $gray-600;
    }
}

@media (min-width: $width-tablet) {
    .banner-search {

        .banner-nav {
            height: 80px;
        }
    }
}