.our-branches {
    margin-bottom: 40px;

    &__title {
        margin-bottom: 30px;
    }
    .c-little-card{
        margin-bottom: 12px;
    }
    .card{
        .img-fluid{
            height: 100%;
            border: none;
        }
        .card-svg{
            color: $gray-400;
            height: 20px;
            width: 20px;    
        }

    }
}