.banner {
    background-image: url("/public/img/dimitris-kiriakakis-G11WbaShKZ8-unsplash.jpg");

   

    .c-title--center {
        padding-bottom: 25px;

        h6::after {
            bottom: -20px;
            background-color: $white;
        }
    }

    .banner-block {
        width: max-content;

    }

    .block-items {
        padding: 35px 35px;
    }

    .block-list {
        margin: 0;
        padding: 0;
    }

    .banner-check {
        color: $gray-600;
        font-weight: 500;
    }

    .banner-number {
        font-weight: 600;
        margin-right: 10px;
    }

    .banner-icon {
        color: $gray-600;
    }

}


@media (min-width: $width-tablet) {
    .banner {

        .block-items {
            height: 100px;
            width: 150px;
            padding: 50px 75px;
        }
    }
}

@media (min-width: $width-desktop) {
    .banner {
        height: 790px;

        .c-title--center {
            margin-top: 55px;
            padding-bottom: 35px;

            h6::after {
                bottom: -30px;
            }
        }



        .banner-btn {
            height: 45px;
            width: 190px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 125px;
        }



        .block-items {
            padding: 65px 90px;

        }
    }
}