.best-rooms {
    background-color: #F9F9F9FF;
    margin-bottom: 0;

    .c-title--center {
        color: $gray-600;
    }
    .best-rooms--title{
        margin-bottom: 60px;
    }

    .card-text {
        margin-bottom: 30px;
    }

    .card-title {
        margin-bottom: 20px;
    }


    .card-item {
        overflow: hidden;
        margin: 10px 0;
        height: 150px;

        .card-img-top {
            height: 150px;

        }
    }

    .c-card-search {
        margin-bottom: 30px;

    }
    .c-card-rooms{
        height: 100%;
        width: auto;
        
    }
}

@media (min-width: $width-tablet) {
    .best-rooms {
        .card-item {
            margin: 0;
            height: 250px;
        }

        .c-card-search {
            margin-bottom: 0;

            .card {
                .card-img-top {
                    height: 250px;

                }
            }
        }
    }
}