.blog{
    .card-dinner{
        height: 400px;
    }
    .card-around{
        height: 360px;
    }
    .card-relax{
        height: 290px;
    }
    .card-zone{
        height: 190px;
    }
}
@media (min-width: $width-tablet) {

}