.contact {
    &__banner {
        height: 305px;
        background-image: url("https://12andrian85.github.io/hotel/public/img/cory-bjork-D1yT791Nf9A-unsplash.jpg");
        background-size: cover;
        background-position: bottom;
    }

    &__title {
        margin-bottom: 20px;

    }

    &__text {
        font-weight: 400;
        color: $gray-600;
        line-height: 1.6;
        margin-bottom: 45px;
    }

    .form {
        .form-label{
            font-weight: 500;
            color: $gray-600;
        }
        .form-control{
            background-color: $gray-100;
            border: 1px solid $gray-200;
        }
    }

    &__map {
        height: 250px;
        filter: grayscale(1);
        display: inline-block;
        margin-bottom: 60px;

    }

    &__address {
        margin-bottom: 30px;
    }

    &__wrapper {
        margin-bottom: 30px;
    }

    &__subtitle {
        font-weight: 600;
    }

    &__info {
        color: $gray-600;
    }

    &__tel {
        .c-title {
            color: $gray-600;
        }

        .c-title::before {
            bottom: -20px;
        }

        .title {
            color: $gray-600;
        }
    }

}