.header{
    .navbar{
        height: 50px;
    }
    .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-top{
        .top-item{
            display: flex;
            align-items: center;
        }
        .top-link{
            text-decoration: none;
            padding: 5px 15px;
        }
    }
}