.header {
    .navbar {
        height: 70px;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav {
        background-color: $white;
    }

    .header-top {
        .top-item {
            display: flex;
            align-items: center;
        }

        .header-logotype {
            word-spacing: 12px;

        }


        .top-link {
            text-decoration: none;
            padding: 15px 15px;
        }
    }
}