.banner-booking{
    position: relative;
    height: 380px;
    background-image: url("/public/img/david-emrich-odII8BzuWU8-unsplash.jpg");
    background-position: left;


    .banner-nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 35px;
    }
    .banner-wrapper{
        margin: 0 6px 0 6px;
    }
    .banner-btn{
        width: 20px;
        height: 20px;
        font-size: 10px;
        font-weight: 500;
        border-radius: 50%;
        padding: 9px;
        margin-right: 12px;
    }
    .banner-btn:hover{
        background-color: $black;
        color: $white;
        border: none;
    }

    .btn-text{
        font-size: 12px;
    }
}
@media (min-width: $width-tablet) {
    .banner-booking{
        .banner-wrapper{
            margin: 0 22px 0 22px;
        }

    }

}